# API
AUTH0_AUTHORITY=https://<your-tenant>.us.auth0.com/
AUTH0_AUDIENCE=https://api.tradebooks
SQLSERVER_CONNECTION=Server=<SQL_SERVER>;Database=<DB_NAME>;User Id=<USER>;******;TrustServerCertificate=True;
LITEDB_EXCEPTION_LOG_PATH=tradebooks-exceptionlogs.db

# Audit Service
AUDITSERVICE_LITEDB_PATH=tradebooks-auditservice.db
